.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px 0px #80808063;
  transition: 0.35s;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 10px 0px #26a69a;
    transform: translate(0, 5px);
  }

  &__img {
    aspect-ratio: 0.6;
  }

  &__content {
    padding: 0 15px 5px;
  }
}
